[push]
	default = simple
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	conflicts = diff --name-only --diff-filter=U
[user]
	name = Jee Wan Gue
	email = jeewangue@gmail.com
	signingkey = ABBA73AF9D947ED4
[core]
	editor = vim
[commit]
	gpgsign = true

