! copied from
! https://github.com/dougmaitelli/dotfiles/blob/7cf0c8edac4f7cb8d46aa8664b060d2393b3cfd5/.Xresources

! special
*.foreground:   #cbcdd2
*.background:   #1c1d21
*.cursorColor:  #d6d8db

! black
*.color0:       #1c1d21 
*.color8:       #babcc4

! red
*.color1:       #eb3d54
*.color9:       #eb3d54

! green
*.color2:       #78bd65
*.color10:      #78bd65

! yellow
*.color3:       #e5cd52
*.color11:      #e5cd52

! blue
*.color4:       #4fb4d8 
*.color12:      #4fb4d8

! magenta
*.color5:       #B85C8A
*.color13:      #B85C8A

! cyan
*.color6:       #669c9c
*.color14:      #669c9c

! white
*.color7:       #cbcdd2 
*.color15:      #cbcdd2

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
!Xft.hintstyle: hintfull
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!XTerm*background: bg_color
!XTerm*foreground: fg_color
!XTerm*pointerColor: cursor_color
XTerm*faceName: Inconsolata Nerd Font:Medium
XTerm*faceSize: 10
XTerm*geometry: 80x25

! Rofi
rofi.color-enabled: true
rofi.color-window: argb:aa1c1d21, #751c1d21, argb:001c1d21
rofi.color-normal: argb:001c1d21, #cbcdd2, argb:001c1d21, argb:c2d6d8db, #222222
rofi.color-active: argb:4d1b2b34, #6699cc, argb:4d343d46, argb:4d6699cc, #d8dee9
rofi.color-urgent: argb:4d1b2b34, #ec5f67, argb:4d343d46, argb:4dec5f67, #d8dee9

rofi.modi: run,ssh,window
rofi.separator-style: solid
rofi.show-icons: true
rofi.drun-icon-theme: Papirus-Dark
rofi.font: Inconsolata Nerd Font Mono 12
rofi.sidebar-mode:    true
rofi.padding:         0
rofi.bw:              10
rofi.scrollbar-width: 0
rofi.line-margin:     0
rofi.lines: 10
rofi.terminal: urxvt
rofi.case-sensitive: false
rofi.run-command: fish -c '{cmd}'
rofi.run-list-command: 'fish -c functions'
#include ".Xresources.d/colors"
